$font-color: #ffffff;
$nav-font-size: large;
* {
  margin: 0;
}

body {
  background: linear-gradient(to right, #3e3030, #252525);
}

main,
p,
h3 {
  color: $font-color;
}

h2 {
  margin-top: 30px;
  color: #ffffff;
  font-size: $nav-font-size;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 1.5rem;
}

// .navbar{
//   background-color: #620707;
//   font-family: Verdana;
//   font-size: 30px;
//   color: #CDCDCD;

//   ul{
//     li{
//       display: inline;

//       a{
//         color: #CDCDCD;
//         text-decoration: none;
//         padding: 14px 16px;
//         &:hover{
//           background-color: #000000;
//           color: #ffffff;
//         }
//       }
//     }
//   }
// }

// .nav-list{
//   display: flex;
//   align-items: center;
//   gap: 0.5rem;
//   list-style: none;
//   padding: 0;
//   font-size: 1.4rem;

//   .dropdown{
//     position: relative;
//   }

//   .dropdown-menu{
//     position: absolute;
//     top: 100%;
//     left: 0;
//     min-width: 10px;
//     background-color: #620707;
//     padding: 0.5rem 0;
//     margin: 0;
//     list-style: none;
//     z-index: 100;
//     border: 1px solid #ccc;
//     display: none;
//     flex-direction: column;

//     a{
//       padding: 0.5rem 0;
//     }

//     li{
//       display: block;
//       padding: 0.5rem;
//       margin-bottom: 0.5;
//     }

//     li:last-child{
//       margin-bottom: 0;
//     }
//   }

//   &:hover .dropdown-menu{
//     display: flex;
//   }
// }
