@import "../../globals.scss";


.channel-card{
  background-color: gray;
  padding: 1.25rem; 
  border-radius: 1rem;  
  transition: transform 0.2s;

  img{
    border-radius: 4rem;
    align-items: center;
  }

  &:hover{
    transform: translateY(-5px);
  }

  .channel-title{
   font-size: 1.2rem;
   font-weight: bold;
   margin-bottom: 0.5rem;

   a{
    color:#000000;
   }

   :hover{
    color: $font-color;
   }
  }

  .channel-subscriber{
    font-size: 1rem;
    color:$font-color;
  }
}